In [24]:
import requests
import json
import pandas as pd
import numpy as np
import time
from helper_functions import aggregate, dictlist_to_df, get_list

ImportError: cannot import name 'get_list' from 'helper_functions' (G:\Data\Lambda\Data_Science_Course\Labs\betterreads-ds\APIs\NYT\helper_functions.py)

## Obtain NYT list information
I'm trying to get bestseller information from the nyt API. They have a variety of lists, and metadata on each list that they have. The metadata is stored in the '/lists/names.json' endpoint. Lets view this metadata first (it will help with looping functionality later when we need details from each sub-list)

In [10]:
from secrets import NYT_API_KEY

In [11]:
book_lists = requests.get('https://api.nytimes.com/svc/books/v3/lists/names.json?api-key='+NYT_API_KEY)

In [12]:
listoflists = json.loads(book_lists.text)['results']

In [13]:
listoflists[0]

{'list_name': 'Combined Print and E-Book Fiction',
 'display_name': 'Combined Print & E-Book Fiction',
 'list_name_encoded': 'combined-print-and-e-book-fiction',
 'oldest_published_date': '2011-02-13',
 'newest_published_date': '2020-03-01',
 'updated': 'WEEKLY'}

In [14]:
aggregate(listoflists,'list_name')[:5]

['Combined Print and E-Book Fiction',
 'Combined Print and E-Book Nonfiction',
 'Hardcover Fiction',
 'Hardcover Nonfiction',
 'Trade Fiction Paperback']

In [15]:
# alternativley we can just read the dictionary:
lists_df = pd.DataFrame(listoflists)
lists = lists_df['list_name_encoded'].to_list()

In [16]:
lists[:5]

['combined-print-and-e-book-fiction',
 'combined-print-and-e-book-nonfiction',
 'hardcover-fiction',
 'hardcover-nonfiction',
 'trade-fiction-paperback']

## Get information from NYT API
Here we retreive information from a specific list. the current hardcover bestsellers.

In [17]:
a = requests.get('https://api.nytimes.com/svc/books/v3/lists/current/hardcover-fiction.json?api-key='+NYT_API_KEY)

In [21]:
b = json.loads(a.text)

In [22]:
# One data entry of a book. 
b['results']['books'][0]

{'rank': 1,
 'rank_last_week': 4,
 'weeks_on_list': 76,
 'asterisk': 0,
 'dagger': 0,
 'primary_isbn10': '0735219095',
 'primary_isbn13': '9780735219090',
 'publisher': 'Putnam',
 'description': 'In a quiet town on the North Carolina coast in 1969, a young woman who survived alone in the marsh becomes a murder suspect.',
 'price': 0,
 'title': 'WHERE THE CRAWDADS SING',
 'author': 'Delia Owens',
 'contributor': 'by Delia Owens',
 'contributor_note': '',
 'book_image': 'https://s1.nyt.com/du/books/images/9780735219090.jpg',
 'book_image_width': 328,
 'book_image_height': 495,
 'amazon_product_url': 'https://www.amazon.com/Where-Crawdads-Sing-Delia-Owens/dp/0735219095?tag=NYTBS-20',
 'age_group': '',
 'book_review_link': '',
 'first_chapter_link': '',
 'sunday_review_link': '',
 'article_chapter_link': '',
 'isbns': [{'isbn10': '0735219095', 'isbn13': '9780735219090'},
  {'isbn10': '0735219117', 'isbn13': '9780735219113'},
  {'isbn10': '0525640371', 'isbn13': '9780525640370'},
  {'isbn10': '0593105419', 'isbn13': '9780593105412'},
  {'isbn10': '0593187989', 'isbn13': '9780593187982'}],
 'buy_links': [{'name': 'Amazon',
   'url': 'https://www.amazon.com/Where-Crawdads-Sing-Delia-Owens/dp/0735219095?tag=NYTBS-20'},
  {'name': 'Apple Books',
   'url': 'https://du-gae-books-dot-nyt-du-prd.appspot.com/buy?title=WHERE+THE+CRAWDADS+SING&author=Delia+Owens'},
  {'name': 'Barnes and Noble',
   'url': 'https://www.anrdoezrs.net/click-7990613-11819508?url=https%3A%2F%2Fwww.barnesandnoble.com%2Fw%2F%3Fean%3D9780735219090'},
  {'name': 'Books-A-Million',
   'url': 'https://www.anrdoezrs.net/click-7990613-35140?url=https%3A%2F%2Fwww.booksamillion.com%2Fp%2FWHERE%2BTHE%2BCRAWDADS%2BSING%2FDelia%2BOwens%2F9780735219090'},
  {'name': 'Local Booksellers',
   'url': 'https://www.indiebound.org/book/9780735219090?aff=NYT'}],
 'book_uri': 'nyt://book/053b4109-4555-5aa1-9b39-cc40549bcdf0'}

In [23]:
books = []
for i in b['results']['books']:
    books.append(i['title'])

In [29]:
books

['WHERE THE CRAWDADS SING',
 'AMERICAN DIRT',
 'GOLDEN IN DEATH',
 'THE SILENT PATIENT',
 'THE DUTCH HOUSE',
 'CROOKED RIVER',
 'THE GUARDIANS',
 'SUCH A FUN AGE',
 'A LONG PETAL OF THE SEA',
 'WEATHER',
 'THE GIVER OF STARS',
 'DEAR EDWARD',
 'LOST',
 'THE INSTITUTE',
 'WHEN YOU SEE ME']

##  Getting all lists from a time period

In [30]:
lists_df.head()

,display_name,list_name,list_name_encoded,newest_published_date,oldest_published_date,updated
0,Combined Print & E-Book Fiction,Combined Print and E-Book Fiction,combined-print-and-e-book-fiction,2020-03-01,2011-02-13,WEEKLY
1,Combined Print & E-Book Nonfiction,Combined Print and E-Book Nonfiction,combined-print-and-e-book-nonfiction,2020-03-01,2011-02-13,WEEKLY
2,Hardcover Fiction,Hardcover Fiction,hardcover-fiction,2020-03-01,2008-06-08,WEEKLY
3,Hardcover Nonfiction,Hardcover Nonfiction,hardcover-nonfiction,2020-03-01,2008-06-08,WEEKLY
4,Paperback Trade Fiction,Trade Fiction Paperback,trade-fiction-paperback,2020-03-01,2008-06-08,WEEKLY

In [31]:
lists_df['book_list']=np.nan

In [32]:
lists_df.head()

,display_name,list_name,list_name_encoded,newest_published_date,oldest_published_date,updated,book_list
0,Combined Print & E-Book Fiction,Combined Print and E-Book Fiction,combined-print-and-e-book-fiction,2020-03-01,2011-02-13,WEEKLY,NaN
1,Combined Print & E-Book Nonfiction,Combined Print and E-Book Nonfiction,combined-print-and-e-book-nonfiction,2020-03-01,2011-02-13,WEEKLY,NaN
2,Hardcover Fiction,Hardcover Fiction,hardcover-fiction,2020-03-01,2008-06-08,WEEKLY,NaN
3,Hardcover Nonfiction,Hardcover Nonfiction,hardcover-nonfiction,2020-03-01,2008-06-08,WEEKLY,NaN
4,Paperback Trade Fiction,Trade Fiction Paperback,trade-fiction-paperback,2020-03-01,2008-06-08,WEEKLY,NaN

In [33]:
# This doesn't work, I have to figure out why.
lists_df.loc[lists_df.list_name_encoded=='hardcover-fiction','book_list'] = ['test',"this"]

ValueError: Must have equal len keys and value when setting with an iterable

In [34]:
lists_df.head()

,display_name,list_name,list_name_encoded,newest_published_date,oldest_published_date,updated,book_list
0,Combined Print & E-Book Fiction,Combined Print and E-Book Fiction,combined-print-and-e-book-fiction,2020-03-01,2011-02-13,WEEKLY,NaN
1,Combined Print & E-Book Nonfiction,Combined Print and E-Book Nonfiction,combined-print-and-e-book-nonfiction,2020-03-01,2011-02-13,WEEKLY,NaN
2,Hardcover Fiction,Hardcover Fiction,hardcover-fiction,2020-03-01,2008-06-08,WEEKLY,NaN
3,Hardcover Nonfiction,Hardcover Nonfiction,hardcover-nonfiction,2020-03-01,2008-06-08,WEEKLY,NaN
4,Paperback Trade Fiction,Trade Fiction Paperback,trade-fiction-paperback,2020-03-01,2008-06-08,WEEKLY,NaN

In [35]:
lists1 = lists[:2]
lists1

['combined-print-and-e-book-fiction', 'combined-print-and-e-book-nonfiction']

In [36]:
# Retrive information 
books_dict2 = {}
for item in lists:
    request_url="https://api.nytimes.com/svc/books/v3/lists/current/"+item+".json?api-key="+NYT_API_KEY)
    results = requests.get(request_url)
    results = json.loads(results.text)
    print("status:", results['status'])
    try:
        book_list = aggregate(results['results']['books'],'title')
        books_dict2[item]=book_list
        print(item, "added")
    except KeyError:
        print(item, "NOT added")
    time.sleep(5)

status: OK
combined-print-and-e-book-fiction added
status: OK
combined-print-and-e-book-nonfiction added
status: OK
hardcover-fiction added
status: OK
hardcover-nonfiction added
status: OK
trade-fiction-paperback added
status: OK
mass-market-paperback added
status: OK
paperback-nonfiction added
status: OK
e-book-fiction added

KeyError: 'status'

In [ ]:
lists

In [ ]:
books_dict['hardcover-political-books']

In [ ]:

request_url="https://api.nytimes.com/svc/books/v3/lists/current/hardcover-political-books.json?api-key=76quqESu9qYqfKpEfnJou4kpY1uJ9pMV"
results = requests.get(request_url)
results = json.loads(results.text)

In [ ]:
aggregate(results['results']['books'],'title')

In [ ]:
results['status']

In [ ]:
df = pd.DataFrame(columns=['test'])
df['test']=lists

In [ ]:
df

In [ ]:
Wikipedia API Information: https://www.mediawiki.org/wiki/API:Main_page
Wikipedia page of interest: https://en.wikipedia.org/wiki/List_of_best-selling_books

Basic Features:

- Title
- Author
    - Gender
    - Nationality
    - Languages Spoken By author (at time of writing)
- Genre
- Publisher
- Published year
- Published in 
    - (country, state city?)
- Pages
- Sales Data
- Original Language

Possible Engineered Features:

- popularity
- Combined Rating Weighed from different sources
- NLP
    - publisher site information
    - book author information
    - Reviews (from one or several sources)
    - Book wiki page
    - Author wiki page
    - Reddit information
    - books reddit search results + sentiment analysis on results
- does reddit exist
- does wiki exist
- does fandom exist
- twitter mentions
- google mentions 
- NN on book cover